@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

head{

  background-color:#458B00;
  font: 40px/1.5 Lato, "Helvtica Neue", Helvetica, Arial, sans-serif;
  padding: 20px;
  color: black;
  margin:auto;
}


body{
  background-color: #f5f5dc;
  color: black;
  padding: 20px; 
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 
.wrapper {
  width: 800px;
  height: 1000px;
  background: white;
  padding: 20px;
  margin:auto;
  border-width: 20px;
  border-color: red;
}

header{
  background: #458B00;
  width: 800px;
  padding: 20px;
  margin: auto;
  }
  
button { 
     background-color red;
   }
   
   p.main{
     border-width:5px;
     border-color:red
       padding:5px;
   }
   
section{
     background-color: #fff;
     border-width:20px;
     -moz-box-shadow: 0 0 20px #777;
     -webkit-box-shadow: inset 0 0 20px  #777;
     box-shadow: inset 0 0 20px #777;
     margin: 10px;
     padding:10px;
   }
   
   
    
