

head{

  background-color:#458B00;
  font: 40px/1.5 Lato, "Helvtica Neue", Helvetica, Arial, sans-serif;
  padding: 20px;
  color: black;
  margin:auto;
}


body{
  background-color:  #e0e093;
  color: black;
  padding: 20px; 
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
 
.wrapper {
  width: 900px;
  background: white;
  padding: 20px;
  margin:auto;
     border-width:20px;
     -moz-box-shadow: 0 0 20px #777;
     -webkit-box-shadow: inset 0 0 20px  #777;
     box-shadow: inset 0 0 20px #777;
  
}
     p{
     border-width:5px;
     border-color:red
       padding:5px;
   }

header{
  background: #458B00;
  width: 800px;
  padding: 20px;
  margin: auto;
  }
  
h3{
  background-color:  #e0e093;
   width: 100px;
  border-radius: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
}

.long{
  background-color:  #e0e093;
  border-color: #FF0000;
  border-width:5px;
  width: 200px;
  border-radius: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
}
.extralong{
    background-color:  #e0e093;
  border-color: #FF0000;
  border-width:5px;
  width: 400px;
  border-radius: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  
}

hr{
  color: #ff0000;
}

   
   
    
