@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

head{
  background-color:#458B00;
  font: 20px/1.5 Lato, "Helvtica Neue", Helvetica, Arial, sans-serif;
  padding: 20px;
  color: silver;
}


body{
  background-color: white;
  color: black;
  padding: 20px; 
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;}
  
 
.wrapper {
  width: 800px;
  margin: 0 auto;
  background: white;}

.header{
  background: #458B00;
  width: 800px;
  border: 10px color white;
  margin: 0 auto;
  
}
  
   
   
   
