
body{
  font-size:16px;
  padding:20px;
}

.Header{
  font-weight: bold;
  font-size: 60px;
  margin: 0px;
  text-align:  Center;
}

h1, h2, h3,a{
  font-weight: normal;
  color: black;
  margin: 0px;
  text-transform:capitalize;
  
}
h1{
  font-family: Georgia, "Times New Roman", serif;
  font-size: 32px;
}

h3{
  font-family: "Gill Sans",  Arial, sans-serif;
  font-size: 24px;
  text-shadow: 5px, 5px, 0, red;
}

p{
  font-family: Arial, Verdana, sans-serif;
  color: black;
  line-height: 1.4em;
}

p. Intro:first-line{
  text-transform: uppercase;
  font-weight: bold;
}
a{
  text-decoration: none;
}

ul{
  font-size:16px;
  line-height: 1.5em;
  list-style-type: none;
}

.title{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color:#ff0000;
  font-weight: bold;

}

.quote{
  text-align: right;
  font-family: "Edwardian Script ITC",Verdana, sans-serif;
  font-size: 20px;
  
}

th{
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 20px;
  text-align: center;
}

 footer{
   text-transform: capitalize;
   font-size: 10px;
   text-align: left;
 }
 
 footer>ul{
   font-size: 10px;
 }





